* {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#div_relogio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #444;
    color: #0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    border-radius: 5px;
    padding: 10px;
}